<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name="msr.atsulab.app.player.ui.PlayerDebugApplication"
        tools:node="merge"
        tools:replace="android:name">
        <activity
            android:name="msr.atsulab.app.player.ui.PlayerDebugActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="true"
            android:label="@string/player_debug_launcher_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
